
<div ng-controller = "listoSettingsController">
    <div class="topBar">
        <div class="HomeTitulo"><h1>{{title}}</h1></div>
        <div class="backBtn"><a href="#/"><i class="bi bi-arrow-left"></i></a></div>
    </div>
    <div class="mainContainer">
        
        <ul class="sLista">
            <li><i class="bi bi-tags-fill"></i> Categorías </li>
            <li><i class="bi bi-pencil-fill"></i>  Editar Juego </li>
            <li><i class="bi bi-star-fill"></i>  Puntuaciones </li>
            
        </ul>

    </div>
    
    <div class="navBar">
        <div class="btnContainer">
            <div class="btnLista" ng-click ="goTo('/list')">
                <i class="bi bi-card-checklist"></i>
            </div>
            <div class="btnHome" ng-click ="goTo('/')">
                <i class="bi bi-house"></i>
            </div>
            <div class="btnSettigns" ng-click ="goTo('/settings')">
                <i class="bi bi-gear"></i>
            </div>
        </div>
        
    </div>
</div>
