.hAddBtn{
    font-size: 5rem;
    margin-right: 2.5rem;
}
li h1 {
    
    margin-top: 0;
}
.juegoContainer{
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 2rem;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 4 / 1 / 5 / 3;
    flex-direction: column;
    justify-content: flex-start;
    
}
.div7 { grid-area: 3 / 2 / 4 / 3; }
    .juegoContainer div{
        height: auto;
        padding: 0 3rem ;
        display: flex;
    }
.juegoContainer h1{
    font-size:5rem;
    margin: 0;
}
.juegoContainer p{
    font-size: 2rem;
    margin: 0;
}
.juegosLista{
    display: flex;
    padding: 3rem 0;
    border-top: solid 1px gray;
    box-shadow: 0px -3px 17px -2px rgba(0,0,0,0.36);
}
.desc{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
h6{
    margin: 0;
}
.juegosLista .bi{
    position: relative;
    top: 0;
    right:4rem;
    font-size: 3rem;
}
    .bi-star-fill-colored{
        color: yellow !important;
    }
    .bi-star-fill{
        color: gray;
    }