/* styles.css */

/* Paleta de colores */
:root {
    --primary-color: #f8bbd0; /* Rosa palo */
    --secondary-color: #f06292;
    --accent-color: #ec407a;
    
}
html, body{
    height: 100%;
    font-family:  Arial, sans-serif;
    background-color: rgb(90, 90, 90);
    
    

}
body{
    
    margin: 0;
}
.botBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    width: 100%;
    font-family:  Arial, sans-serif;
    background-color: rgb(117, 117, 117);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.backBtn{
    margin: 0 2rem;
    font-size: 2.5rem;
    
}
.backBtn a{
    text-decoration: none;
    color: whitesmoke;
}
.backBtn a:hover{
    cursor: pointer;
}
.mainContainer{
    padding: 11rem 0;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(90, 90, 90);
    height: 100%;
    width: 100%;
    font-size: 4rem;
    color: white;
}
.topBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:10rem;
    width: 100%;
    font-family:  Arial, sans-serif;
    background-color: rgba(78, 78, 78, 0.863);
    box-shadow: 0px 12px 30px -9px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    left: 0;
}
.HomeTitulo h1{
    font-size: 5rem;  
    margin: 0;
    color: whitesmoke;
    padding: 2rem;
}

  /* Estilos específicos para móviles */
  @media screen and (max-width: 600px) {
    .main {
      
      max-width: 500px;
      width: 85%;
      margin: 2rem auto;
      text-align: center;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
    }
  }
  .bi{
    font-size: 4rem;
    color: white;
  }
  .bi-card-checklist{
    color: white;
  }
  .formNewItem{
    color: white;
    font-size: 2rem;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 0.25em;
  }
  .formNewItem p{
    margin: 0;
  }
  input{
    font-size: 3rem;
  }
  .newItemButtons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 1.5em;
  }
  li{
    list-style: none;
  }
  .navBar{
    display: flex;
    width: 100%;
    height: 10rem;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -3px 17px -2px rgba(0,0,0,0.75);
    border-radius: 3000px 3000px 0 0;
    background-color: rgba(78, 78, 78, 0.863);


  }
  .navBar .btnContainer{
    display: flex;
    align-items:end;
    justify-content: center;
    gap: 5rem;
    
  }
  .navBar .btnContainer .bi-house{
    font-size: 6rem;
    
  }
  .newBtnGuardar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(86, 153, 86);
  }
  ul{
    margin: 0;
    padding: 0;
    height: 100%;
  }